<a href="https://colab.research.google.com/github/KrishChothani/AI_ML/blob/main/ML_PRACT_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
import pandas as pd

df = pd.read_excel("titanic3.xls")
display(df)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1,1,"Allison, Master. Hudson Trevor",male,0.9167,1,2,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1,0,"Allison, Miss. Helen Loraine",female,2.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1,0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1,2,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1,0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1,2,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1304,3,0,"Zabour, Miss. Hileni",female,14.5000,1,0,2665,14.4542,NaN,C,NaN,328.0,NaN
1305,3,0,"Zabour, Miss. Thamine",female,NaN,1,0,2665,14.4542,NaN,C,NaN,NaN,NaN
1306,3,0,"Zakarian, Mr. Mapriededer",male,26.5000,0,0,2656,7.2250,NaN,C,NaN,304.0,NaN
1307,3,0,"Zakarian, Mr. Ortin",male,27.0000,0,0,2670,7.2250,NaN,C,NaN,NaN,NaN
1308,3,0,"Zimmerman, Mr. Leo",male,29.0000,0,0,315082,7.8750,NaN,S,NaN,NaN,NaN

In [ ]:
print(df["embarked"].unique() ,df["sex"].unique())

[ 2.  0. nan  1.] [1 0]

In [ ]:
df = pd.read_excel("titanic3.xls")

df["sex"] = df["sex"].map({"male": 0, "female": 1})
df["embarked"] = df["embarked"].map({"C": 0, "Q": 1, "S": 2})

# df["age"] = df["age"].fillna(df["age"].median())
# df["fare"] = df["fare"].fillna(df["fare"].median())
# df["embarked"] = df["embarked"].fillna(df["embarked"].mode()[0])

X = df[["pclass", "age", "sibsp", "parch", "fare", "sex", "embarked"]]
y = df["survived"]

X = X.fillna(X.median())

X_train, X_test, y_train, y_test = train_test_split(
    X, y, test_size=0.2, random_state=42
)

model = GaussianNB()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.7557251908396947

Classification Report:
               precision    recall  f1-score   support

           0       0.76      0.81      0.78       144
           1       0.75      0.69      0.72       118

    accuracy                           0.76       262
   macro avg       0.75      0.75      0.75       262
weighted avg       0.76      0.76      0.75       262

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import BernoulliNB
from sklearn.metrics import accuracy_score, classification_report

df = pd.read_excel("titanic3.xls")

df["sex"] = df["sex"].map({"male": 0, "female": 1})
df["embarked"] = df["embarked"].map({"C": 0, "Q": 1, "S": 2})

# df["age"] = df["age"].fillna(df["age"].median())
# df["fare"] = df["fare"].fillna(df["fare"].median())
# df["embarked"] = df["embarked"].fillna(df["embarked"].mode()[0])

X = df[["pclass", "age", "sibsp", "parch", "fare", "sex", "embarked"]]
y = df["survived"]

X = X.fillna(X.median())

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)


X = X.fillna(X.median())

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = BernoulliNB()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.7595419847328244

Classification Report:
               precision    recall  f1-score   support

           0       0.75      0.84      0.79       144
           1       0.77      0.66      0.71       118

    accuracy                           0.76       262
   macro avg       0.76      0.75      0.75       262
weighted avg       0.76      0.76      0.76       262

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, classification_report

df = pd.read_excel("titanic3.xls")

df["sex"] = df["sex"].map({"male": 0, "female": 1})
df["embarked"] = df["embarked"].map({"C": 0, "Q": 1, "S": 2})

X = df[["pclass", "age", "sibsp", "parch", "fare", "sex", "embarked"]]
y = df["survived"]

X = X.fillna(X.median())

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

model = MultinomialNB()
model.fit(X_train, y_train)

y_pred = model.predict(X_test)

print("Accuracy:", accuracy_score(y_test, y_pred))
print("\nClassification Report:\n", classification_report(y_test, y_pred))

Accuracy: 0.6641221374045801

Classification Report:
               precision    recall  f1-score   support

           0       0.64      0.87      0.74       144
           1       0.72      0.42      0.53       118

    accuracy                           0.66       262
   macro avg       0.68      0.64      0.63       262
weighted avg       0.68      0.66      0.64       262

In [29]:
import numpy as np
import pandas as pd

df = pd.read_excel("titanic3.xls")

df["sex"] = df["sex"].map({"male": 0, "female": 1})
df["embarked"] = df["embarked"].map({"C": 0, "Q": 1, "S": 2})

X = df.drop(columns=["survived", "name", "ticket", "cabin", "boat", "body", "home.dest"])
y = df["survived"]

X = X.fillna(X.mean()).astype(int)
# print(X)

np.random.seed(42)
indices = np.arange(len(X))
np.random.shuffle(indices)

split = int(0.8 * len(X))
train_idx, test_idx = indices[:split], indices[split:]

X_train, X_test = X.iloc[train_idx], X.iloc[test_idx]
y_train, y_test = y.iloc[train_idx], y.iloc[test_idx]
# print(y_train)

classes = np.unique(y_train)

print(classes)
class_priors = {}
for c in classes:
    class_priors[c] = np.sum(y_train == c) / len(y_train)


print("----------------------------------------------------------------")
print(class_priors)

feature_probs = {}
for c in classes:
    X_c = X_train[y_train == c]
    feature_count = X_c.sum(axis=0) + 1
    total_count = feature_count.sum()
    feature_probs[c] = feature_count / total_count

print("----------------------------------------------------------------")
print(feature_probs)
# y_pred = []
# for i in range(len(X_test)):
#     x = X_test.iloc[i]
#     class_scores = {}
#     for c in classes:
#         log_prob = np.log(class_priors[c])
#         log_prob += np.sum(x * np.log(feature_probs[c]))
#         class_scores[c] = log_prob
#     pred_class = max(class_scores, key=class_scores.get)
#     y_pred.append(pred_class)

y_pred = []

print("----------------------------------------------------------------")
print(X_test)
print(len(X_test))
for i in range(len(X_test)):
    x = X_test.iloc[i]
    # print(x)
    class_scores = {}
    for c in classes:
        prob = class_priors[c]
        prob *= np.prod(feature_probs[c] ** x)
        class_scores[c] = prob

    pred_class = max(class_scores, key=class_scores.get)
    y_pred.append(pred_class)

y_pred = np.array(y_pred)

accuracy = np.mean(y_pred == y_test)

print("----------------------------------------------------------------")
print("Accuracy:", accuracy)

for c in classes:
    tp = np.sum((y_pred == c) & (y_test == c))
    fp = np.sum((y_pred == c) & (y_test != c))
    fn = np.sum((y_pred != c) & (y_test == c))
    precision = tp / (tp + fp + 1e-9)
    recall = tp / (tp + fn + 1e-9)
    f1 = 2 * precision * recall / (precision + recall + 1e-9)
    print(f"\nClass {c}: Precision={precision:.3f}, Recall={recall:.3f}, F1={f1:.3f}")

[0 1]
----------------------------------------------------------------
{np.int64(0): np.float64(0.6246418338108882), np.int64(1): np.float64(0.3753581661891118)}
----------------------------------------------------------------
{np.int64(0): pclass      0.042798
sex         0.002471
age         0.517022
sibsp       0.008728
parch       0.004995
fare        0.396383
embarked    0.027603
dtype: float64, np.int64(1): pclass      0.022621
sex         0.008113
age         0.340291
sibsp       0.005359
parch       0.005507
fare        0.602949
embarked    0.015160
dtype: float64}
----------------------------------------------------------------
      pclass  sex  age  sibsp  parch  fare  embarked
517        2    0   26      0      0    13         2
476        2    0   30      1      1    26         2
157        1    0   29      0      0    51         2
16         1    0   24      0      1   247         0
546        2    1   28      0      0    13         2
...      ...  ...  ...    ...    ...   ...       ...
1095       3    1   29      0      0     7         1
1130       3    1   18      0      0     7         2
1294       3    0   28      0      0    16         2
860        3    1   26      0      0     7         2
1126       3    1   28      0      0     7         2

[262 rows x 7 columns]
262
----------------------------------------------------------------
Accuracy: 0.6603053435114504

Class 0: Precision=0.670, Recall=0.839, F1=0.745

Class 1: Precision=0.632, Recall=0.402, F1=0.491

In [43]:


import pandas as pd
import numpy as np

df = pd.read_excel("titanic3.xls")

df["sex"] = df["sex"].map({"male": 0, "female": 1})
df["embarked"] = df["embarked"].map({"C": 0, "Q": 1, "S": 2})

df["age"] = df["age"].fillna(df["age"].median())
df["fare"] = df["fare"].fillna(df["fare"].median())
df["embarked"] = df["embarked"].fillna(df["embarked"].mode()[0])

X = df[["pclass", "age", "sibsp", "parch", "fare", "sex", "embarked"]]
y = df["survived"]

np.random.seed(42)
indices = np.arange(len(X))
np.random.shuffle(indices)
split = int(0.8 * len(X))
train_idx, test_idx = indices[:split], indices[split:]

X_train, X_test = X.iloc[train_idx], X.iloc[test_idx]
y_train, y_test = y.iloc[train_idx], y.iloc[test_idx]

classes = np.unique(y_train)

class_priors = {}
for c in classes:
    class_priors[c] = np.sum(y_train == c) / len(y_train)


feature_stats = {}
for c in classes:
    X_c = X_train[y_train==c]
    feature_stats[c] = {
        "mean": X_c.mean(),
        "var": X_c.var() + 1e-9
    }

def gaussian_pdf(x, mean, var):
    return (1/np.sqrt(2*np.pi*var)) * np.exp(-(x-mean)**2 / (2*var))

y_pred = []
for i in range(len(X_test)):
    x = X_test.iloc[i]
    class_scores = {}
    for c in classes:
        t2 = np.prod(gaussian_pdf(x, feature_stats[c]["mean"], feature_stats[c]["var"]))
        class_scores[c] = t1*t2
    y_pred.append(max(class_scores, key=class_scores.get))

y_pred = np.array(y_pred)

accuracy = np.mean(y_pred == y_test)
print("GaussianNB Accuracy (manual):", accuracy)



for c in classes:
    tp = np.sum((y_pred == c) & (y_test == c))
    fp = np.sum((y_pred == c) & (y_test != c))
    fn = np.sum((y_pred != c) & (y_test == c))
    precision = tp / (tp + fp + 1e-9)
    recall = tp / (tp + fn + 1e-9)
    f1 = 2 * precision * recall / (precision + recall + 1e-9)
    print(f"\nClass {c}: Precision={precision:.3f}, Recall={recall:.3f}, F1={f1:.3f}")

GaussianNB Accuracy (manual): 0.2633587786259542

Class 0: Precision=0.330, Recall=0.239, F1=0.277

Class 1: Precision=0.213, Recall=0.299, F1=0.249

In [44]:


import pandas as pd
import numpy as np

df = pd.read_excel("titanic3.xls")

df["sex"] = df["sex"].map({"male": 0, "female": 1})
df["embarked"] = df["embarked"].map({"C": 0, "Q": 1, "S": 2})

df["age"] = df["age"].fillna(df["age"].median())
df["fare"] = df["fare"].fillna(df["fare"].median())
df["embarked"] = df["embarked"].fillna(df["embarked"].mode()[0])

X = df[["pclass", "age", "sibsp", "parch", "fare", "sex", "embarked"]]
y = df["survived"]

np.random.seed(42)
indices = np.arange(len(X))
np.random.shuffle(indices)
split = int(0.8 * len(X))
train_idx, test_idx = indices[:split], indices[split:]

X_train, X_test = X.iloc[train_idx], X.iloc[test_idx]
y_train, y_test = y.iloc[train_idx], y.iloc[test_idx]

classes = np.unique(y_train)

class_priors = {c: np.sum(y_train==c)/len(y_train) for c in classes}

feature_probs = {}
for c in classes:
    X_c = X_train[y_train==c]
    feature_probs[c] = (X_c.sum(axis=0) + 1) / (len(X_c) + 2)

y_pred_b = []
for i in range(len(X_test)):
    x = X_test.iloc[i]
    class_scores = {}
    for c in classes:
        t1 = np.log(class_priors[c])
        t2 = np.sum(x*np.log(feature_probs[c]) + (1-x)*np.log(1-feature_probs[c]))
        class_scores[c] = t2 + t2


        # t1 = class_priors[c]
        # t2 = np.prod((feature_probs[c] ** x) * ((1 - feature_probs[c]) ** (1 - x)))
        # class_scores[c] = t1 * t2
    y_pred_b.append(max(class_scores, key=class_scores.get))

y_pred_b = np.array(y_pred_b)
accuracy_b = np.mean(y_pred_b == y_test)
print("BernoulliNB Accuracy (manual):", accuracy_b)

for c in classes:
    tp = np.sum((y_pred == c) & (y_test == c))
    fp = np.sum((y_pred == c) & (y_test != c))
    fn = np.sum((y_pred != c) & (y_test == c))
    precision = tp / (tp + fp + 1e-9)
    recall = tp / (tp + fn + 1e-9)
    f1 = 2 * precision * recall / (precision + recall + 1e-9)
    print(f"\nClass {c}: Precision={precision:.3f}, Recall={recall:.3f}, F1={f1:.3f}")

/usr/local/lib/python3.12/dist-packages/pandas/core/arraylike.py:399: RuntimeWarning: invalid value encountered in log
  result = getattr(ufunc, method)(*inputs, **kwargs)

BernoulliNB Accuracy (manual): 0.7022900763358778

Class 0: Precision=0.330, Recall=0.239, F1=0.277

Class 1: Precision=0.213, Recall=0.299, F1=0.249

In [ ]:
#